<?xml version="1.0" encoding="utf-8" ?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>InstructionsProcessor.IBv2.Websocket.App</Name>
	
	<!--Websocket-->
	<IncomingConfigPath>.\Websocket\IncomingSingletonConfig.xml</IncomingConfigPath>
	<IncomingModule>zHFT.SingletonModulesHandler.SingletonModulesHandler, zHFT.SingletonModulesHandler</IncomingModule>



	<OutgoingModule>zHFT.StrategyHandler.InstructionBasedRouting.InstructionBasedRouter, zHFT.StrategyHandler.InstructionBasedRouting</OutgoingModule>
  <OutgoingConfigPath>.\InstructionBasedRouting.xml</OutgoingConfigPath>
  <LogToConsole>true</LogToConsole>
</Configuration>