<?xml version="1.0"?>
<configuration>
  <appSettings>
    
    <add key="ApplicationName" value="OrderBookLoaderSvc"></add>
    <add key="InputSecurityFile" value="./config/security_mapping.json"></add>
    <add key="InputShareholderFile" value="./config/shareholder_mapping.json"></add>
    
    <!--STAGING-->
    <add key="OrdersDBConnectionString" value="Server=staging-secondary-order-cluster.cluster-chhjnxvrvlxy.us-east-1.rds.amazonaws.com;Database=secondaryorder;Uid=secondaryorder;Pwd=fu2Frcdwcn3CwSs;"/>
    <add key="TradingDBConnectionString" value="Server=staging-secondary-trading-cluster.cluster-ro-chhjnxvrvlxy.us-east-1.rds.amazonaws.com;Database=secondarytrading;Uid=secondarytrading;Pwd=WgDWB4K2nJLz3CB;"/>
    <!--    -->
    <!--DEV-->
    <!-- <add key="OrdersDBConnectionString" value="Server=dev-secondary-order-cluster.cluster-chhjnxvrvlxy.us-east-1.rds.amazonaws.com;Database=orderservice;Uid=orderusername;Pwd=orderpassword"/> -->
    <!-- <add key="TradingDBConnectionString" value="Server=dev-secondary-trading.chhjnxvrvlxy.us-east-1.rds.amazonaws.com;Database=secondarytrading;Uid=secondarytrading;Pwd=secondarytradingpassword;"/> -->

    <!--UAT-->
    <!-- <add key="OrdersDBConnectionString" value="Server=uat-secondary-order-cluster.cluster-chhjnxvrvlxy.us-east-1.rds.amazonaws.com;Database=secondaryorder;Uid=secondaryorder;Pwd=fu2Frcdwcn3CwSs"/> -->
    <!-- <add key="TradingDBConnectionString" value="Server=uat-secondary-trading.cluster-chhjnxvrvlxy.us-east-1.rds.amazonaws.com;Database=secondarytrading;Uid=secondarytrading;Pwd=WgDWB4K2nJLz3CB;"/> -->


    <!-- <add key="MockWS" value="ws://127.0.0.1:7172"/> -->
    <add key="MockWS" value="ws://66.94.106.206:7172"/>

  </appSettings>
   
</configuration>
