<?xml version="1.0" encoding="utf-8" ?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>Cryptos Day Turtles</Name>

    <IncomingConfigPath>.\Websocket\IncomingSingletonConfig.xml</IncomingConfigPath>
    <IncomingModule>zHFT.SingletonModulesHandler.SingletonModulesHandler, zHFT.SingletonModulesHandler</IncomingModule>
    
	<!-- <OutgoingModule>tph.DayTurtles.LogicLayer.DayTurtles,tph.DayTurtles.LogicLayer</OutgoingModule>-->
	<!-- <OutgoingConfigPath>.\TurtlesDayTrading.xml</OutgoingConfigPath>-->
	
	
	<OutgoingModule>tph.StrategyHanders.TestStrategies.TestModule.TestStrategy,tph.StrategyHanders.TestStrategies.TestModule</OutgoingModule>
	<OutgoingConfigPath>.\TestStrategyConfig.xml</OutgoingConfigPath>
	
	<LogToConsole>true</LogToConsole>
</Configuration>