<?xml version="1.0" encoding="utf-8" ?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>NetCoreWebsocketFIXConnector.App v1.3.4</Name>

  <IncomingModule>tph.StrategyHandler.SimpleCommandReceiver.SimpleCommandReceiver, tph.StrategyHandler.SimpleCommandReceiver</IncomingModule>
  <IncomingConfigPath>.\SimpleCommModule.xml</IncomingConfigPath>
  
  <LogToConsole>true</LogToConsole>
</Configuration>