<?xml version="1.0" encoding="utf-8" ?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>Cryptos Day Turtles</Name>

  <!--Websocket-->
    <IncomingConfigPath>.\Websocket\IncomingSingletonConfig.xml</IncomingConfigPath>
    <IncomingModule>zHFT.SingletonModulesHandler.SingletonModulesHandler, zHFT.SingletonModulesHandler</IncomingModule>


  <OutgoingModule>tph.StrategyHandler.HistoricalPricesDownloader.HistoricalPricesDownloader,tph.StrategyHandler.HistoricalPricesDownloader</OutgoingModule>
  <OutgoingConfigPath>.\HistoricalPricesDownloader.xml</OutgoingConfigPath>
  <LogToConsole>true</LogToConsole>
</Configuration>