<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="allwaysToConsole" value="true"/>
    <add key="ConfigConnectionString" value="Data Source=.\SQLDEV;Initial Catalog=AutPortfolio;Integrated Security=SSPI;"/>
    <add key="AccountNumber" value="9"/>
    <add key="LoginTokenURL" value="https://api.invertironline.com/token"/><!--PROD-->
    <!--<add key="LoginTokenURL" value="https://api-sandbox.invertironline.com//token"/>--><!--DEV-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
