<?xml version="1.0" encoding="utf-8" ?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>zHFTMain</Name>
  <!--PATH AL ARCHIVO INITITATOR FIX-->
  <!--<IncomingConfigPath>.\incomingConfigQuickFix.xml</IncomingConfigPath>-->
  <IncomingConfigPath>.\incomingIB.xml</IncomingConfigPath>
  <IncomingModule>zHFT.MarketClient.IB.Client.IBMarketClient,zHFT.MarketClient.IB</IncomingModule>
  <!--<OutgoingModule>zHFT.StrategyHandler.MomentumPortfolios.StrategyHandler.MomentumStrategyPortfolioFormation, zHFT.StrategyHandler.MomentumPortfolios</OutgoingModule>-->
  <OutgoingModule>zHFT.StrategyHandler.SingleStockBuyer.SingleStockBuyer, zHFT.StrategyHandler.SingleStockBuyer</OutgoingModule>
  <!--<OutgoingConfigPath>.\outgoingStrategyHandler.MomentumPortfolios.xml</OutgoingConfigPath>-->
  <OutgoingConfigPath>.\outgoingStrategyHandler.SingleStockBuyer.xml</OutgoingConfigPath>
  <LogToConsole>true</LogToConsole>
</Configuration>