<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="Login" value="fermosca82"/>
    <add key="Pwd" value="Baiano69"/>
    <add key="MainURL" value="https://api.invertironline.com/"></add>

    <add key="ConnectionString" value="data source=.\SQLDEV;initial catalog=AsesorInveriones_aut_trader;integrated security=True;multipleactiveresultsets=True"></add>
  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>