<?xml version="1.0" encoding="utf-8" ?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>Order Book Mock</Name>

  <IncomingConfigPath>.\incomingIB.xml</IncomingConfigPath>
  <IncomingModule>zHFT.InstructionBasedMarketClient.IB.Client.IBInstructionBasedMarketClient, zHFT.InstructionBasedMarketClient.IB</IncomingModule>
  <OutgoingModule>tph.StrategyHandler.SimpleCommandReceiver.SimpleCommandReceiver, tph.StrategyHandler.SimpleCommandReceiver</OutgoingModule>
  <OutgoingConfigPath>.\WebSocket.xml</OutgoingConfigPath>
  <LogToConsole>true</LogToConsole>
</Configuration>