<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="allwaysToConsole" value="true"/>
    <!--<add key ="Account" value="9008"/>--><!--Cuenta Compras-->
    <add key="Account" value="9012"/><!--Cuenta Ventas-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
