<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="allwaysToConsole" value="true"/>
    <!--<add key ="Account" value="9008"/>--><!--Cuenta Compras-->

    <!--Tarallo TEST-->
    <!-- <add key="Account" value="38887"/>    -->
    <!-- <add key="RESTURL" value="https://api-risk.demo.xoms.com.ar"></add> -->
    <!-- <add key="User" value="wstradehelm"></add> -->
    <!-- <add key="Password" value="eP4mw8eD_"></add> -->

    <!--Tarallo PROD-->
    <add key="Account" value="3318"/>
    <add key="RESTURL" value="https://api-risk.demo.xoms.com.ar"></add>
    <add key="User" value="mgasser"></add>
    <add key="Password" value="EuFNp8tS_"></add>

    <!--Nasini PROD-->
    <!-- <add key="Account" value="10262"/>  -->
    <!-- <add key="RESTURL" value="https://api.primary.com.ar"></add> -->
    <!-- <add key="User" value="fmosca"></add> -->
    <!-- <add key="Password" value="Msk7w6cB_"></add> -->
    

    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
